<!Doctype html>
<html>
<head>
<title>Popup</title>
<style type="text/css">
dialog {  
    width: 500px;  
    background:#e8e8e8;
    border: 1px solid #dadada;
    font-family:sans-serif;
    padding: 5px 10px 20px 20px;
}  

</style>

<script type="text/javascript">

function popup(){
  cuteLittleWindow = window.open("http://www.facebook.com","_self", "location=no,width=320,height=200"); 
}

</script>

</head>

<body>



<a href="javascript:popup()">Here is a popup window.</a> 
</body>
</html>